<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/base.js" | absURL }}"></script>

{{ if .Params.galerie }}
<!-- Glisse Vollbildgallerie laden -->
<script src="{{ "js/galerie/" | absURL }}glisse.js"></script>
<script src="{{ "js/gallerieEinstellungen.js" | absURL }}"></script>
<!-- Ende Glisse Vollbildgallerie laden -->
{{ end }}

<!-- Matomo -->
<noscript><p><img src="https://analyse.elaon.de/piwik.php?idsite=4&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
